{:paths
 ["src"]

 :tasks
 {:requires
  ([clojure.edn :as edn]
   [babashka.fs :as fs])

  run:app
  {:doc  "Run the Form to Mail locally. Optional argument is log level"
   :task (let [log-level (first *command-line-args*)]
           (clojure
            (when log-level (str  "-J-Dorg.slf4j.simpleLogger.defaultLogLevel=" log-level))
            "-M"
            "-m"
            "app.core"))}

  rebel
  {:doc "Run rebl repl"
   :task (clojure "-Xrebel")}

  build:uberjar
  {:doc  "Package the app in an uberjar"
   :task (do
           (println "Building uberjar")
           (clojure "-T:build" "uber"))}

  clean
  {:doc "Remove target folder"
   :task (do
           (println "Removing target folder.")
           (fs/delete-tree "target"))}

  uberjar:clean
  {:doc "Run clean uberjar"
   :task (do (run 'clean)
             (run 'build:uberjar))}

  run:uberjar
  {:doc     "Run the uberjar locally"
   :task (shell "java" "-jar" "target/form-to-mail-0.1.25-standalone.jar")}

  style:check
  {:doc  "Check code style"
   :task (clojure "-Sdeps" "{:deps {mvxcvi/cljstyle {:mvn/version \"0.15.0\"}}}" "-m" "cljstyle.main" "check" "src")}

  style:fix
  {:doc  "Fix code style"
   :task (clojure "-Sdeps" "{:deps {mvxcvi/cljstyle {:mvn/version \"0.15.0\"}}}" "-m" "cljstyle.main" "fix" "src")}

  lint
  {:doc  "Lint with clj-kondo"
   :task (clojure "-M:clj-kondo" "--lint" "src")}

  test
  {:doc  "Run tests"
   :task (clojure "-X:test")}

  nix:update-deps
  {:doc "Update deps-lock.json based on deps.edn"
   :task (shell "deps-lock")}

  serve:samples
  {:doc "Serves spec/samples on :1234/"
   :task (shell "miniserve --port 1234 spec/samples")}

  spec:run
  {:doc "Evaluate the system against the specification"
   :task (shell "tbb")}}}
