body {
    font-family: sans-serif;
    text-align: center;
}


#logo svg {
    height: 6em; 
    width: 6em; 
}

.call-to-action {
	border-radius: 0.4em;
	background-color: rgb(1, 114, 173);
	padding: 1em 4em;
	font-weight: bold;
	margin: 1em 0em;
	color: white;
	display: inline-block;
	text-decoration: none;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    max-width: 40rem;
    margin: auto;
    text-align: left;
    width: 100%;
}


th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    vertical-align: top;
}

ul {
  padding: 0;
  margin: -0.5em;
}

li {
  display: block;
  margin: 0.5em;
  /*! padding: 0; */
}
