#logo > img {
    height: 6rem;
}

nav hgroup {
    margin: 0;
}

.icon {
    margin-right: 0.5em;
    width: 3em;
}
.link {
    text-decoration: none;
}

#features > * {
    display: flex;

    p {
        padding-top: 1em;

        small {
            color: var(--pico-muted-color);
            font-size: 0.7em;
            font-weight: bold;

            &::before {
                content: "\A";
                white-space: pre;
            }
        }
    }
}

html.submission, html.thank-you {
    header {
        display: flex;
        flex-direction: column;

        #main-logo {
            height: 8rem;
            margin: 2rem;
        }

        hgroup {
            text-align: center;
        }
    }

    .container {
        max-width: 30rem;
    }
}
